.user__base {
  width: 90%;
  borderRadius: 5px;
  background: whitesmoke !important;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .user__header {
    margin-top: 30px;
    margin-left: 5%;
    width: 100%;
    display: flex;

    .user__header--title {
      font-size: large;
      margin-right: 10px;
      margin-top: 3px;
    }

    .user__header--search {
      display: flex;
      width: 50%;
      border: 1px solid black;
      border-radius: 3px;
      align-items: center;

      .user__header--search-icon {
        padding: 8.8px 12px;
        background-color: #FFF;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
      }
    }
  }

  .user__container {
    margin-top: 50px;
    width: 100%;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0 10px;
  }
}