.bg-color{
  min-height: 100vh;
  background-image: url("../images/login_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 30px;
  .navbar{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    //box-shadow:0 0 0 2px red;
    .navbar-brand{
      .img-logo{
        content: url("../images/brand.jpg");
        width: 50px;
        height: 50px;
      }
    }
    .nav-item{
      padding-top: 10px;
      .nav-link{
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 18px;
        font-weight: 900;
      }
    }
    .personal-page{
      padding-top: 0px !important;
      float:right;
      right: 30px;
      .dropdown-menu{
        right: 0!important;
        left: auto;
      }
    }
  }
  .content{
    padding-top: 80px;
  }
}